# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized

Some of the popular tools that Data Scientists use are:
1. Python
2. R
3. C++
4. Java Script

Some of the commonly used Data scientist Libraries are:
1. Pandas
2. Tensor Flow 
3. Scrapy 
4. Matplotlib

| Data Science Tools |
| --------------------- |
| My SQL |
| Big Query |
| SAS |

### Below are a few examples of arithmetic expressions in python
a=5
b=7 
a*b

In [9]:
( 3 * 4) + 5

17

In [17]:
 This will convert 200 minutes to hours by dividing by 60 200/60

3.3333333333333335

# OBJECTIVES
- Python
- R 
- Java  
- C++
- Julia

## Akshmi Holla
Branton Ondiba